	html { height: 100%; }	
	body { height: 99%;font-size:.8em;}	
	#debug {position:absolute;}
	
	#graphcontent {position:relative; clear:both; margin-bottom:10px; height:700px; background:#fff; border-top:1px solid #ccc; overflow:hidden;}
	
	#graphs {position:relative; background-color:white; overflow:hidden; border-radius:0 0 0 10px;}
	
	.nosvg #zoomcontrols { display: none; }
	#nosvgbrowser {display:none; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; color:#630; background:#ff9; border:1px solid #630; margin-bottom:10px; padding:10px;}
	.nosvg #nosvgbrowser { display: block; }

	#zoomcontrols {position:absolute; top:5px; left:5px; z-index:500; padding:5px; background:rgba(128,128,128,0.25); border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; overflow:auto;}
	#zoomcontrols span {display:block; float:left; height:16px; width:16px; text-indent:-9999px; background-repeat:no-repeat; cursor:pointer;}
	#zoomcontrols #zoomSlider {float:left;}
	#zoomcontrols .zoomin {background-image:url(icons/magnifier-zoom-in.png);}
	#zoomcontrols .zoomout {background-image:url(icons/magnifier-zoom-out.png);}
	#zoomcontrols .zoomreset {background-image:url(icons/magnifier-zoom-fit.png);}
	
	#warning {float:left; margin-left:10px;margin-top:-10px;color:#999999;}

	#lightbox, .modal {position:fixed; height:80%; width:600px; background:#fff; z-index:1002; top:30px; left:50%; margin-left:-300px; padding:15px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; box-shadow:0 3px 10px rgba(0,0,0,0.75); -webkit-box-shadow:0 3px 10px rgba(0,0,0,0.75); -moz-box-shadow:0 3px 10px rgba(0,0,0,0.75); max-height: 80%; }
	#lightboxscreen {width:100%; height:100%; position:absolute; z-index:1001; top:0; left:0; background:#000; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); overflow:hidden;}
	#lightboxcontents { width: 100%; height: 100%; }
	#lightboxcontents table { margin: auto; max-height: 85%; height: 85%; overflow: auto; display: block; font-size: 75%; }
	#lightboxcontents h3 { text-align: center; margin-top: 0px;}
	#lightbox .close {position:absolute; top:5px; right:5px; display:block; cursor: pointer;}
	
	#tables, #cotables {position:relative; z-index:99; width:319px; background:#fff; border-left:1px solid #ccc;}
	#tables ul, #cotables ul {list-style:none; padding:0; width:319px;}
	#tables ul ul, #cotables ul ul {width:285px; overflow: hidden; }

	.nodeselector { display: none; }


	/* Node Search */
	
	.node_search_container {padding:5px; background:#ddd; text-align:right;}
	.node_search_container label {color:#000; font-size:10px; text-transform:uppercase; padding-right:5px;}
	.node_search {width:150px; padding:5px 25px 5px 5px; background:#fff url(icons/magnifier-small.png) 160px center no-repeat; border:0; border-radius:10px; -moz-border-radius:10px; -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.25) inset; text-align:center;}
	.node_search_list {margin:2px 0 0 0; padding:0; width:207px; background:#fff; border:1px solid #999; position:absolute; z-index:100;  border-radius:10px; -moz-border-radius:10px; -webkit-box-shadow:0 3px 10px rgba(0,0,0,0.25);}
	.node_search_list ul {margin:0; padding:0; list-style:none;}
	.node_search_list li {margin:0; padding:5px; height:auto; font-size:10px; list-style:none; cursor:pointer;}
	.node_search_list li:first-child {border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0;}
	.node_search_list li:last-child {border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px;}
	.node_search_list li:nth-child(odd) {background:#eee;}
	.node_search_list li.selected {background:#BA8D72;}

	
	.norelationships {background-color:#EEEEEE;padding:5px;color:#999999;}
	
	
	#images {text-align:left;}




	#lists {float: right; height:90%; width:30%; background:#B2B7A1; border-radius:0 0 10px 0;}
	#graphs { width: 70%; height: 90%;}

	#zoomcontrols fieldset.slider {width: 126px;}
	#zoomcontrols div.slider {position:relative; float:right; margin:3px; height:12px; width:90px; background:#999;}
	#zoomcontrols div.slider .handle {position:absolute; height:10px; width:10px; background:#ccc; border:1px solid #999; -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.25); cursor: move;}
	#companySort { display: none; }
	
	#tooltip { padding: 3px; z-index: 1000; position: absolute; visibility: hidden; text-align: center; background-color: white; top: 0px; left: 0px; filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70; font-weight: bold; border: 1px solid black; }

	#imagescreen {  height: 630px; width: 630px; position: absolute; background-color:#fff;text-align:center;padding-top:40px; top:0px; left: 0px; }

	.loadingimage { width: 200px; height: 19px; vertical-align: middle; border:none;margin: 15px; }

	/*SVG Styles */
	path { stroke-opacity: .7; }
	
	#svg_overlay g{opacity:0;cursor:pointer;}
	#svg_overlay path{fill-opacity:.9 !important;cursor:pointer}
	#svg_overlay ellipse, #svg_overlay polygon{fill-opacity:.8 !important;cursor:pointer}
	#svg_overlay path{stroke-opacity:.9 !important;stroke:#93f !important;cursor:pointer}
	#svg_overlay .searchhelp{color:#666666;font-style:italic}
	#svg_overlay .selected polygon, #svg_overlay .selected ellipse{fill:#BA8D72 !important;}
	#svg_overlay .oselected polygon, #svg_overlay .oselected ellipse{fill:#B2B7A1;}
	#svg_overlay .highlight path{stroke:#B2B7A1 !important;stroke-opacity:.9 !important}
	#svg_overlay .nhighlight{fill:#B2B7A1 !important;}
	#svg_overlay #svgscreen { cursor: default;}
	
	#highlight { position: absolute; z-index: 5; visibility: hidden; filter:alpha(opacity=50); opacity: .50; cursor: pointer; top: 0px; left: 0px; }
	#highlightimg { visibility: hidden; width: 100%; height: 100%; }
	#highlight.selected, .nhighlight { background-color: #BA8D72 !important; }
	.levelfour { display: none; }
	.leveltwo { display: none; }
	.showtwo .leveltwo { display: block; }
	.showall .levelfour { display: block; }


	.sublists_container { display: none; cursor: default; }
	.nodelist_container { display: none; position: relative; height: 75%}
	.nodelist { overflow-y: scroll; height: 80%; position: relative; }
	.nodelist_container .highlight { background-color: #ccbbdd; }
	.nodelist_container .selected { background-color: #B2B7A1; font-weight: bold; }
	.nodelist_container .selected div { background-color: #fff; font-weight: normal;}
	.nodelist>li { color: #727780; cursor: pointer;} 
	.nodelist_container.selected { display: block; }
	.node_content { display: none;}
	.nodelist>li.selected .node_content  {display: block;}
	
	.to_node_item {color:green;}
	.from_node_item {color:orange;}

	#list_menu li { display: inline;  padding: 5px; cursor: pointer;}
	#list_menu li.selected {font-weight: bold; } 

	#edgeview { position: absolute; z-index: 20; width: 80%; background-color: #fff; margin: auto; padding: 20px;}
	#error { z-index: 1000; color: #f00; background: #ddd; border: 1px solid black; width: 60%; margin: auto; padding: 10px; }
	#error .errorstring { display:block; max-height: 200px; overflow: auto; background: #fee; padding: 3px; }
	#error .code { font-family: monospace; }

	.zoom_0 .zoom_1, .zoom_0 .zoom_2, .zoom_0 .zoom_3, .zoom_0 .zoom_4, .zoom_0 .zoom_5, .zoom_0 .zoom_6, .zoom_0 .zoom_7, .zoom_0 .zoom_8, .zoom_0 .zoom_9, .zoom_0 .zoom_10  { display: none; }
	.zoom_1 .zoom_2, .zoom_1 .zoom_3, .zoom_1 .zoom_4, .zoom_1 .zoom_5, .zoom_1 .zoom_6, .zoom_1 .zoom_7, .zoom_1 .zoom_8, .zoom_1 .zoom_9, .zoom_1 .zoom_10  { display: none; }
	.zoom_2 .zoom_3, .zoom_2 .zoom_4, .zoom_2 .zoom_5, .zoom_2 .zoom_6, .zoom_2 .zoom_7, .zoom_2 .zoom_8, .zoom_2 .zoom_9, .zoom_2 .zoom_10  { display: none; }
	.zoom_3 .zoom_4, .zoom_3 .zoom_5, .zoom_3 .zoom_6, .zoom_3 .zoom_7, .zoom_3 .zoom_8, .zoom_3 .zoom_9, .zoom_3 .zoom_10  { display: none; }
	.zoom_4 .zoom_5, .zoom_4 .zoom_6, .zoom_4 .zoom_7, .zoom_4 .zoom_8, .zoom_4 .zoom_9, .zoom_4 .zoom_10  { display: none; }
	.zoom_5 .zoom_6, .zoom_5 .zoom_7, .zoom_5 .zoom_8, .zoom_5 .zoom_9, .zoom_5 .zoom_10  { display: none; }
	.zoom_6 .zoom_7, .zoom_6 .zoom_8, .zoom_6 .zoom_9, .zoom_6 .zoom_10  { display: none; }
	.zoom_7 .zoom_8, .zoom_7 .zoom_9, .zoom_7 .zoom_10  { display: none; }
	.zoom_8 .zoom_9, .zoom_8 .zoom_10  { display: none; }
	.zoom_9 .zoom_10 { display: none; }
